.canvas-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
}

canvas {
  background-color: #d9d9d9;
}

.tools {
  margin-bottom: 10px;

  button {
    margin-right: 5px;
  }
}
